
$header-height: 70px;
$font-size: 14px;
$menu-font-size: 12px;
$sous-menu-font-size: 12px;

$color-1: #f5a833;
$color-2: #6C6C70;
$color-3: #000000;
$color-4: #ffffff;

$color-f-1: #bb7103;
$color-f-2: #000000;
/**/
$color-tr-1: rgba(244,167,50,0.2);
$color-tr-2: rgba(108,108,112,0.2);

